<a href="https://colab.research.google.com/github/macruga/predictive-analytics/blob/main/Ecommerce_Purchases_Exercise_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ecommerce Purchases Exercise

In this Exercise you will work with 'Fake Data' about some purchases done through Amazon! Follow the directions on the cells bellow and try your best to answer the questions and complete the tasks. Many of the tasks can be solved in 'different ways'.

Do not get discouraged if the exercie does not make "Real-World", REMEMBER that all the data is made-up.

Also note that all of these questions can be answered with one line of code.
____
*Import pandas and read in the Ecommerce Purchases csv file and set it to a DataFrame called ecom.*

In [3]:
import pandas as pd # Import Pandas for data manipulation using dataframes

In [4]:
econ = pd.read_csv('https://raw.githubusercontent.com/glopez21/ML-Data/main/EcommercePurchases.csv')

**Check the head of the DataFrame.**

In [5]:
econ.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

*How many rows and columns are there?*

In [6]:
print(f'Dataframe have {econ.shape[0]} rows')
print(f'Dataframe have {econ.shape[1]} columns')

Dataframe have 10000 rows
Dataframe have 14 columns

*What is the average Purchase Price?*

In [12]:
print(f"Average purchase price {econ['Purchase Price'].mean()}")

Average purchase price 50.34730200000025

*What were the highest and lowest purchase prices?*

In [16]:
print(f"Highest purchase price {econ['Purchase Price'].max()}")

Highest purchase price 99.99

In [17]:
print(f"Lowest purchase price {econ['Purchase Price'].min()}")

Lowest purchase price 0.0

*How many people have English 'en' as their Language of choice on the website?*

In [21]:
# Get new dataframe for people have english language

english_people = econ[econ.Language == 'en']
print(f"All people who have english  {english_people.shape[0]}")

All people who have english  1098

In [22]:
# it is verified that there are no duplicate people, just to be sure not to show duplicate results

english_people.drop_duplicates(subset=('Address'), inplace=True)

People who have english  1098

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [23]:
print(f"People who have english  {english_people.shape[0]}")

People who have english  1098

*How many people have the job title of "Lawyer" ?*

In [27]:
# Get new dataframe for lawyers

lawyers = econ[econ.Job == 'Lawyer']
print(f"All lawyers in econ dataframe  {lawyers.shape[0]}")

All lawyers in econ dataframe  30

In [28]:
# it is verified that there are no duplicate people, just to be sure not to show duplicate results
lawyers.drop_duplicates(subset=('Address'), inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [29]:
print(f"Lawyers  {lawyers.shape[0]}")

Lawyers  30

*How many people made the purchase during the AM and how many people made the purchase during PM ?*

*(Hint: Check out [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) )*

In [31]:
print(f"People who made a purchase during the AM  {econ[econ['AM or PM'] == 'AM'].shape[0]}")
print(f"People who made a purchase during the PM  {econ[econ['AM or PM'] == 'PM'].shape[0]}")

People who made a purchase during the AM  4932
People who made a purchase during the PM  5068

*What are the 5 most common Job Titles?*

In [39]:
# Group by Job, sort ascending and selecting five first colums
econ_jobs = econ.groupby(
    ['Job']).size().reset_index(name='job_frecuency')

top_jobs = econ_jobs.sort_values(by='job_frecuency', ascending=False).iloc[0:5]

print(f'Top 5 most commons Jobs {tuple(list(top_jobs.Job))}') # convert list to tuple for display purposes only

Top 5 most commons Jobs ('Interior and spatial designer', 'Lawyer', 'Social researcher', 'Designer, jewellery', 'Research officer, political party')

*Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction?*

In [44]:
print(f"Price for 90 WT lot was {econ[econ.Lot == '90 WT']['Purchase Price'].values[0]}")

Price for 90 WT lot was 75.1

*What is the email of the person with the following Credit Card Number: 4926535242672853*

In [46]:
print(f"Email registred for credit card number 4926535242672853 is {econ[econ['Credit Card'] == 4926535242672853].Email.values[0]}")

Email registred for credit card number 4926535242672853 is bondellen@williams-garza.com

*How many people have American Express as their Credit Card Provider and made a purchase above $95 ?*

In [47]:
# Check CC types in data
econ['CC Provider'].value_counts()

JCB 16 digit                   1716
VISA 16 digit                  1715
JCB 15 digit                    868
American Express                849
Maestro                         846
Voyager                         829
Discover                        817
Mastercard                      816
VISA 13 digit                   777
Diners Club / Carte Blanche     767
Name: CC Provider, dtype: int64

In [49]:
print(
    f"People who made a purchase with American express CC above $95: \
     {econ[(econ['CC Provider'] == 'American Express') & (econ['Purchase Price'] > 95)].shape[0]}")

People who made a purchase with American express CC above $95: 39

*Hard: How many people have a credit card that expires in 2025?*

In [57]:
# Create a new column for expiration year, split column "CC Exp Date" on "/", take second part and convert to int

econ['exp_year'] = econ.apply(lambda x: int(x['CC Exp Date'].split('/')[1]), axis=1)

In [59]:
print(f"People who credit card expirate in 2025 {econ[econ.exp_year == 25].shape[0]}")

People who credit card expirate in 2025 1033

*Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...)*

In [63]:
''' Create a new column for mail provider, split column "email" on "@", take second part, 
    then split again on "." and finally take de first '''
econ['email_provider'] = econ.apply(lambda x: (x['Email'].split('@')[1]).split('.')[0], axis=1)

In [64]:
econ_emails_providers = econ.groupby(
    ['email_provider']).size().reset_index(name='email_provider_frecuency')

top_emails_providers = econ_emails_providers.sort_values(by='email_provider_frecuency', ascending=False).iloc[0:5]

print(f'Top 5 most commons Emails providers {tuple(list(top_emails_providers.email_provider))}') # convert list to tuple for display purposes only

Top 5 most commons Emails providers ('hotmail', 'yahoo', 'gmail', 'smith', 'williams')

# Great Job!